@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.pages {
  max-width: 1920px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.pages .shape {
  position: absolute;
}
.pages .shape-2 {
  top: 0;
  right: 0;
}

header nav ul li:hover {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

header nav ul li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
}

main #home {
  justify-content: space-around;
  height: calc(100vh - 7rem);
  max-height: 800px;
  display: flex;
  padding: 0 4rem;
  position: relative;
}

main #home .shape {
  position: absolute;
}
main #home .shape-3 {
  bottom: 0;
  right: 0;
}
main #home .shape-4 {
  bottom: 0;
  left: 0;
  width: 100%;
}
main #home .shape-4 img {
  max-width: 80%;
}
main #home .shape-5 {
  bottom: 0;
  left: 0;
  height: 70%;
}
main #home .shape-5 img {
  max-height: 100%;
}
main #home .img {
  width: 50%;
  height: auto;
  align-self: flex-end;
  z-index: 1000;
}
main #home .img img {
  max-width: 100%;
}
main #home .content {
  margin-top: 10.0625rem;
  z-index: 1000;
}
main #home .content h1 {
  max-width: 28.6875rem;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 1.5625rem;
}
main #home .content p {
  max-width: 34rem;
  font-size: 1.25rem;
  margin-bottom: 1.875rem;
}

main #about {
  margin: 4.18rem 0;
}
main #about .head {
  margin-bottom: 1.875rem;
  display: flex;
}
main #about .head .obj1 {
  width: 50%;
}
main #about .head .obj2 {
  max-width: 41.125rem;
  padding: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
main #about .head .obj2 h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 1.5625rem;
  text-transform: uppercase;
}
main #about .head .obj2 .line {
  display: flex;
  align-items: center;
}
main #about .head .obj2 .line .one {
  width: 100%;
  border: 1px solid #A9A9A9;
  border-radius: 4px;
}
main #about .head .obj2 .line .two {
  border-radius: 4px;
  width: 9.75rem;
  height: 0.4375rem;
  position: absolute;
  background-color: #A9A9A9;
}
main #about .main {
  display: flex;
}
main #about .main .img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #about .main .img img {
  max-width: 100%;
  padding: 1rem;
}
main #about .main .content {
  max-width: 41.125rem;
  padding: 1rem;
}
main #about .main .content p {
  font-size: 1.25rem;
  width: 100%;
}
main #about .main .content .services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
  width: 100%;
}
main #about .main .content .services .service {
  max-width: 17.0625rem;
}
main #about .main .content .services .service:first-child {
  margin-right: 1rem;
}
main #about .main .content .services .service img {
  width: 2.5rem;
}
main #about .main .content .services .service h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1.5625rem;
  margin-bottom: 0.9375rem;
  text-transform: uppercase;
}
main #about .main .content .services .service p {
  font-size: 1.125rem;
  max-width: 17.06rem;
}

main #services {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
main #services .shape {
  position: absolute;
}
main #services .shape-6 {
  top: -7.5rem;
  left: 0;
}
main #services .shape-7 {
  right: 0;
  top: 10%;
}
main #services .shape-8 {
  right: 0;
  bottom: 15%;
}
main #services .head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
}
main #services .head h1 {
  font-size: 3.5rem;
  font-weight: 500;
}
main #services .head .line {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main #services .head .line .one {
  width: 100%;
  border: 1px solid #A9A9A9;
  border-radius: 4px;
}
main #services .head .line .two {
  border-radius: 4px;
  width: 9.75rem;
  height: 0.4375rem;
  position: absolute;
  background-color: #A9A9A9;
}
main #services .main {
  margin: 50px auto;
  z-index: 1000;
}
main #services .main .service {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2.5rem;
  margin: 2.5rem 0;
  gap: 10rem;
}
main #services .main .service:nth-child(even) {
  flex-direction: row-reverse;
}
main #services .main .service:nth-child(even) .content {
  max-width: 32rem;
}
main #services .main .service:nth-child(odd) .content {
  max-width: 32rem;
  text-align: right;
}
main #services .main .service .content h2 {
  font-size: 2.625rem;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  color: #2C2C2C;
}
main #services .main .service .content p {
  font-size: 1rem;
  line-height: 1.5;
  color: #2C2C2C;
}
main #services .main .service .img {
  width: 100%;
}
main #services .main .service .img img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

main #team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  position: relative;
  padding-bottom: 11.375rem;
}
main #team .shape {
  position: absolute;
}
main #team .shape-9 {
  left: 0;
  top: -15rem;
}
main #team .shape-10 {
  right: 0;
  bottom: -8.3125rem;
}
main #team .head {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main #team .head h1 {
  font-size: 3.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
main #team .head .line {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main #team .head .line .one {
  width: 100%;
  border: 1px solid #A9A9A9;
  border-radius: 4px;
}
main #team .head .line .two {
  border-radius: 4px;
  width: 9.75rem;
  height: 0.4375rem;
  position: absolute;
  background-color: #A9A9A9;
}
main #team .main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.4rem;
  width: 100%;
  padding: 1.93rem 0rem;
  z-index: 1000;
}
main #team .main .member {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #team .main .member img {
  max-width: 100%;
  padding-bottom: 3.31rem;
}
main #team .main .member p {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

main #projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #projects .head {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main #projects .head h1 {
  font-size: 3.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
main #projects .head .line {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main #projects .head .line .one {
  width: 100%;
  border: 1px solid #A9A9A9;
  border-radius: 4px;
}
main #projects .head .line .two {
  border-radius: 4px;
  width: 9.75rem;
  height: 0.4375rem;
  position: absolute;
  background-color: #A9A9A9;
}
main #projects .main {
  display: flex;
  padding: 1.6875rem 2.5rem;
  max-width: calc(1920px - 26rem);
}
main #projects .main .sub1 {
  width: 50%;
  justify-content: center;
}
main #projects .main .sub1 img {
  width: 100%;
  padding: 0 1.375rem;
}
main #projects .main .sub2 {
  width: 50%;
  padding: 0 1.375rem;
}
main #projects .main .sub2 img {
  width: 100%;
}
main #projects .main .sub2 img:nth-child(1) {
  margin-bottom: 1.375rem;
}

main #clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 11.375rem;
  position: relative;
}
main #clients .shape {
  position: absolute;
}
main #clients .shape-11 {
  left: 0;
  top: -5rem;
}
main #clients .head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
}
main #clients .head h1 {
  font-size: 3.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
main #clients .head .line {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main #clients .head .line .one {
  width: 100%;
  border: 1px solid #A9A9A9;
  border-radius: 4px;
}
main #clients .head .line .two {
  border-radius: 4px;
  width: 9.75rem;
  height: 0.4375rem;
  position: absolute;
  background-color: #A9A9A9;
}
main #clients .main {
  padding: 0 2.5rem;
  max-width: calc(1920px - 26rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1000;
}
main #clients .main img {
  max-width: 14.5625rem;
  margin: 2rem 1rem;
  max-width: 100%;
}

main #contact {
  background-color: #BFDBFF;
  margin: 4.68rem auto;
  max-width: calc(1920px - 26rem);
  margin-bottom: 1.375rem;
  padding: 2.625rem 0rem;
  display: flex;
  justify-content: space-evenly;
}
main #contact h3 {
  font-weight: 700;
  font-size: 1rem;
}
main #contact ul {
  list-style: none;
}
main #contact ul li {
  margin-top: 1rem;
}

@media only screen and (max-width: 1200px) {
  main #services .main .service {
    gap: 1rem;
  }
  main #about .main .content {
    max-width: 50%;
  }
}
@media only screen and (max-width: 924px) {
  /* header {
    padding: 0.9375rem 2.125rem;
    flex-wrap: wrap;
  } */
  main #home {
    padding: 0 1rem;
    justify-content: center;
  }
  main #home .content {
    max-width: 50%;
  }
  main #home .content h1 {
    font-size: 3rem;
  }
  main #about .head {
    justify-content: center;
  }
  main #about .head .obj1 {
    display: none;
  }
  main #about .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main #about .main .img {
    width: 100%;
  }   
  main #about .main .content {
    z-index: 1000;
    max-width: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 786px) {
  .shape {
    display: none;
  }
  main #home {
    display: block;
    padding: 0 1rem;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  main #home img {
    display: none;
  }
  main #home .content {
    max-width: 100%;
    width: 100%;
  }
  main #home .content h1 {
    font-size: 2.5rem;
  }
  main #about .head .obj2 h1 {
    font-size: 2.5rem;
  }
  main #services .head h1 {
    font-size: 2.5rem;
  }
  main #services .main .service {
    flex-direction: column !important;
    align-items: center;
    gap: 1rem;
  }
  main #services .main .service .content {
    max-width: 100% !important;
    width: 100%;
    text-align: left !important;
  }
  main #services .main .service .content h2 {
    font-size: 2rem;
  }
  main #team .head h1 {
    font-size: 2.5rem;
  }
  main #projects .head h1 {
    font-size: 2.5rem;
  }
  main #projects .main {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }
  main #projects .main .sub1 {
    width: 100%;
  }
  main #projects .main .sub2 {
    width: 100%;
  }
  main #clients .head h1 {
    font-size: 2.5rem;
  }
  main #clients .main img {
    max-width: 10rem;
  }
  main #contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main #contact .section {
    text-align: center;
    margin-top: 2rem;
  }
  main #contact .section:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 576px) {
  /* header {
    padding: 0.9375rem 1.125rem;
  } */
  header nav li {
    margin: 0.2rem !important;
  }
  header nav li a {
    font-size: 0.8rem !important;
  }
  main #home .content {
    margin-top: 5rem !important;
  }
  main #home .content h1 {
    text-align: center;
    font-size: 2rem;
  }
  main #home .content p {
    text-align: center;
  }
  main #about .main .content p {
    text-align: justify;
  }
  main #about .main .content .services {
    flex-direction: column;
  }
  main #about .main .content .services .service {
    max-width: 100%;
    width: 100%;
  }
  main #about .main .content .services .service:last-child {
    margin-top: 2rem;
  }
  main #about .main .content .services .service p {
    max-width: 100%;
  }
  main #services .main .service {
    padding: 0 0.5rem;
  }
  main #services .content p {
    text-align: justify !important;
  }
  main #team {
    margin: 2rem 0 !important;
    padding-bottom: 0;
  }
  main #clients {
    margin-top: 2rem !important;
  }
  main #clients .main img {
    max-width: 5rem;
  }
}